@model SIS.Models.Data.Student

@{
    ViewBag.Title = "Delete Student";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Student</h3>
        @Html.ActionLink("Return to List", "List", "Student")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Delete", "Student", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.StudentId)
            <p>Are you sure you want to delete student: @Model.LastName, @Model.FirstName?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "List", "Student", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>

